{{head-layout}}
<div id="background" class="hasFooterText">
  <div id="headerBackground">
    <div id="navBackground"></div>
    <header id="header">
      <div id="siteLogo" class="moduleContainer logoOnly">
        <div class="moduleInner">
          <div id="siteLogoBody">
            <a href="https://nolacatholic.org/">
              <img
                alt="Archdiocese of New Orleans"
                src="images/logo-1.jpg"
                class="sitelogo"
              />
            </a>
          </div>
        </div>
      </div>
      <nav id="nav">
        <ul>
          <li id="nav249" class="navPage navElement">
            <a href="https://nolacatholic.org">
              <span>
                NOLA Catholic
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </header>
  </div>
  <div id="core">
    {{outlet}}
  </div>
  <div id="footerBackground" class="footerNavOff footerTextOn">
    <footer id="footer">
      <div id="footerText" class="moduleContainer footerText1 footerText">
        <div class="moduleInner">
          <div id="footerTextBody" class="footerTextBody1 footerTextBody">
            <div class="center">
              <img alt="" src="images/footer_logo.jpg" />
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>